* {
  box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  left: -9999999999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.container {
  max-width: 1144px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col-'] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.ba-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  background-color: #fdde7e;
  width: 100%;
  max-width: 1200px;
  min-height: 700px; }
  .ba-section .ba-cup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2.375em 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #333; }
    .ba-section .ba-cup--center {
      min-height: 600px; }
    .ba-section .ba-cup__price {
      font-size: 4.375rem;
      color: #02995b;
      line-height: 1.5;
      font-weight: bold;
      letter-spacing: 10px;
      margin-bottom: 74px; }
      .ba-section .ba-cup__price--spacing {
        letter-spacing: 0; }
    .ba-section .ba-cup__title {
      font-size: 3.5rem;
      line-height: 1.5;
      font-weight: 400; }
    .ba-section .ba-cup .ba-info {
      margin-top: 25px;
      width: 150px;
      text-align: center; }
      .ba-section .ba-cup .ba-info__desc {
        font-size: 1.125rem;
        line-height: 1.5;
        color: #333333;
        font-weight: 300;
        flex-grow: 1; }
    .ba-section .ba-cup .ba-svg-cup {
      position: relative;
      margin-bottom: 30px; }
      .ba-section .ba-cup .ba-svg-cup__icon {
        width: 135px;
        height: 77px;
        z-index: 0; }
        .ba-section .ba-cup .ba-svg-cup__icon--smoke {
          position: absolute;
          left: 25%;
          top: -80%; }
        .ba-section .ba-cup .ba-svg-cup__icon--bean {
          width: 36px;
          height: 45px;
          position: absolute;
          z-index: 10;
          top: 20%;
          left: 30%; }
